params {
    genes = "A,B,C,DQA1,DQB1,DRB1"
    samplesheet = false
    genomeDir = false
    outdir = false
    database = "3.46.0"
    population = "prior"
    zygosity_threshold = "0.15"
    min_count = "75"

    container__arcashla = "quay.io/biocontainers/arcas-hla:0.5.0--hdfd78af_3"
    container__star = "quay.io/biocontainers/star:2.7.10b--h6b7c446_1"
}

process {
    cpus = { 4 * task.attempt }
    memory = { 30.GB * task.attempt }
    errorStrategy = "retry"
    maxRetries = 3
}